# Dependencies
node_modules/

# Logs
*.log
*.log.*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem
*.tgz

# Vercel
.vercel/

# Socket.io
*.pid
